.main-section-card {
    display: flex;
    box-sizing: border-box;
    border: none;
    padding: 0;
    color: black;
    height: 274px;
    width: 100%;
    margin: auto;
}

.main-section-card > img {
    height: 100%;
    width: 390px;
    margin: 0;
    position: relative;
}

.main-section-card > img::before {
    content: 'premium';
    position: absolute;
    top: 0;
    left: 0;
    background-color: #ff0000;
    color: #ffffff;
}

.main-section-card > div {
    padding: 17px;
    margin: 0;
}

.card-caption-title {
    color: #020000;
    font-weight: 700;
    font-family: Roboto;
    line-height: 42.19px;
    font-size: 36px;
    text-align: left;
    vertical-align: bottom;
}

.card-caption-content {
    color: #000000;
    font-family: Roboto;
    font-size: 18px;
    line-height: 21px;
    text-align: justify;
}