.daily-card {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 0;
  width: 30%;
}

.daily-card > img {
  width: 100%;
}

daily-card > p {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
}
