.daily {
    color: #ff0000;
    text-align: center;
}

.daily-news-cards {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    justify-content: space-between;
}

hr {
    border: 4px #ff0000 solid;
    width: 100%;
}