header.discover {
  background-color: #020000;
  height: 360;
  color: white;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.discover-logo-container {
  background-color: white;
  padding: 20px 30px;
}

.discover-logo-container > img {
  width: 73px;
}

nav.discover {
  background-color: black;
}

nav.discover > ul {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.nav-items {
  list-style: none;
  border-right: 1px white solid;
  font-size: 18px;
  display: inline-block;
  padding: 0;
  justify-self: left;
  padding-bottom: 15px;
  margin-bottom: 15px;
}

#last {
  border-right: none;
}

.nav-links.discover {
  color: white;
  text-decoration: none;
  padding: 10px 20px;
}

.header > h1 {
  text-align: center;
}

.africa-auth {
  text-align: right;
  padding: 40px;
}

.africa-auth > a {
  margin: 5px;
  color: white;
  text-decoration: none;
  display: inline-block;
}

#subscribe {
  background-color: #ff0000;
  padding: 5px 10px;
}

@media screen and (max-width: 540px) {
}
